/* Llamar imagen 
url(imagenes/img1.jpg)
img src="imagenes/img1.jpg"
*/

h1[name="titulo"]{
    text-align: center;
color:cornsilk;
font-size: 50px;
}

header[name="encabezado"]{ 
background-image: url(imagenes/img2.jpg);
height: 200px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 0px;
}

body{
    background-color: #FFFAEA;
}
main{

    background-color: #E1D599;
    padding: 1px;
    box-shadow: 2px 2px 5px #72716f;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align:center;   
}
select[name="filtros"]{
    margin-right: 200px;
}
select[name="abecedario"]{
    margin-right: 200px;
}

footer[name="pie-de-pagina"]{
    text-align: center;
    background-color: #E1D599;
    position: absolute;
}

/*button{
    
}*/
